@using Denxorz.Satisfactory.Routes.Types
@using Microsoft.JSInterop
@using MudBlazor
@using SatisfactoryApp.Components.Factories
@using SatisfactoryApp.Services
@using SatisfactoryApp.Services.Resources
@using SatisfactoryApp.Utils
@using System.Globalization
@inject ResourceStore ResourceStore
@inject IJSRuntime JSRuntime

<BaseMap T="Resource"
         Title="Resources Map"
         SelectedChanged="SelectedChanged"
         Layers="[allMapLayer,filteredMapLayer]">
    <LegendSlot>
        <div class="legend-item">
            <span class="legend-dot depleted"></span>
            <span>Depleted</span>
        </div>
        <div class="legend-item">
            <span class="legend-dot inuse"></span>
            <span>In use</span>
        </div>
        <div class="legend-item">
            <span class="legend-dot available"></span>
            <span>Not used</span>
        </div>
    </LegendSlot>
    <TooltipSlot>
        <div class="tooltip-header">@(_selected.Type ?? "Unknown")</div>
        <div class="tooltip-row">
            <span class="tooltip-label">Used:</span>
            <span class="tooltip-value">@(_selected.Flow.ToString("F1")) / @(_selected.Max.ToString("F1"))</span>
        </div>
        <div class="tooltip-row">
            <span class="tooltip-label">Purity:</span>
            <span class="tooltip-value">@(_selected.PurityModifier switch { 0.5f => "Impure", 1 => "Normal", 2 => "Pure", _ => "?" })</span>
        </div>
        <div class="tooltip-row">
            <span class="tooltip-label">Miner level:</span>
            <span class="tooltip-value">@(_selected.MinerLevel switch { 1 => "Mk1", 2 => "Mk2", 4 => "Mk3", _ => "?" })</span>
        </div>
        <div class="tooltip-row">
            <span class="tooltip-label">Miner clock speed:</span>
            <span class="tooltip-value">@(_selected.ClockSpeed.ToString("P1"))</span>
        </div>
        <div class="tooltip-row">
            <span class="tooltip-label">Miner stability:</span>
            <span class="tooltip-value">@(_selected.PercentageProducing.ToString("P1"))</span>
        </div>
        @* <div class="tooltip-row">
            <span class="tooltip-label">Used sum:</span>
            <span class="tooltip-value">60*Purity*MnrLvl*MnrClckSpd*MnrStability</span>
        </div> *@
        @* <div class="tooltip-row">
            <span class="tooltip-label">Left sum:</span>
            <span class="tooltip-value">60*Purity - 60*Purity*MnrLvl*MnrClckSpd*MnrStability</span>
        </div> *@
    </TooltipSlot>
</BaseMap>

@code {
    private readonly ResourceMapLayer allMapLayer;
    private readonly ResourceFilteredMapLayer filteredMapLayer;

    private Resource? _selected;

    public ResourcesMap(ResourceStore s)
    {
        allMapLayer = new(s);
        filteredMapLayer = new(s);
    }

    private void SelectedChanged(Resource? item)
    {
        _selected = item;
    }
}

<style>
    .legend-dot {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #808080;
        display: inline-block;
    }

        .legend-dot.depleted {
            border: 2px solid #FF0000;
        }

        .legend-dot.inuse {
            border: 2px solid #FFA500;
        }

        .legend-dot.available {
            border: 2px solid #000000;
        }
</style>
